## This is where the fun begins!

In [1]:
import pandas as pd
import plotly.graph_objects as go
import matplotlib.pyplot as plt

In [2]:
imdb_data = pd.read_csv("imdb_datasets.tsv", sep="\t")

C:\Users\Samue\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3,4,5,6,7,8,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Should pick out "movie" from titleType column

First thought I would remove row values based on genres column but discovered that there were many values to comb through and it would be much easier to try through the titleType column

In [37]:
# Getting the unique values from column
format_set = set(imdb_data['titleType'].values)

In [38]:
# Looking at the unique values to see which values I want to keep and which I want to get rid of
for styling in format_set:
    print(styling)

nan
tvSeries
tvMiniSeries
movie
tvEpisode
tvShort
video
tvMovie
videoGame
short
tvSpecial

After reading the tsv, I got a warning saying that columns 3, 4, 5, 6, 7, 8, and 13 have mixed datatypes which means that some cleaning is in order.

### I didn't find an easy way to keep the movie values and nan values so I will change the nan values to 0 or "" based on the dtype of the column and go from there.

In [52]:
imdb_movie_data = imdb_data[(imdb_data['titleType'] == 'movie') & (imdb_data['region'] == 'US')]

In [53]:
imdb_movie_data.isna().sum()

tconst                  0
ordering                0
title                   0
region                  0
language                0
types                   0
attributes              0
isOriginalTitle         0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 0
startYear               0
endYear                 0
runtimeMinutes          0
genres                  0
averageRating      101595
numVotes           101595
dtype: int64

In [4]:
# Code to show more columns and rows
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [54]:
imdb_movie_data.head()

         tconst  ordering                           title region language types attributes isOriginalTitle titleType                    primaryTitle                   originalTitle  isAdult startYear endYear runtimeMinutes             genres  averageRating  numVotes
72    tt0000009       4.0                      Miss Jerry     US       \N    \N         \N               0     movie                      Miss Jerry                      Miss Jerry      0.0      1894      \N             45            Romance            5.9     156.0
1988  tt0000630       4.0                          Hamlet     US       \N    \N         \N               0     movie                          Hamlet                          Amleto      0.0      1908      \N             \N              Drama            3.2      12.0
2100  tt0000679       1.0  The Fairylogue and Radio-Plays     US       \N    \N         \N               0     movie  The Fairylogue and Radio-Plays  The Fairylogue and Radio-Plays      0.0      1908      \N            120  Adventure,Fantasy            5.2      37.0
2534  tt0000886       2.0       Hamlet, Prince of Denmark     US       \N    \N         \N               0     movie       Hamlet, Prince of Denmark                          Hamlet      0.0      1910      \N             \N              Drama            5.1      21.0
2962  tt0001101       2.0      Abraham Lincoln's Clemency     US       \N    \N         \N               0     movie      Abraham Lincoln's Clemency      Abraham Lincoln's Clemency      0.0      1910      \N             \N                 \N            5.1      14.0

In [7]:
# get US movies and then work on function to get seperate tsvs by region
# US_imdb_data = imdb_data[imdb_data['region'] == 'US']
# And save as tsv
# US_imdb_data.to_csv("US_imdb_datasets.csv")

In [8]:
# US_imdb_data.to_csv("US_imdb_datasets.tsv", sep="\t")

When I saved as a csv, I saved the id column from the original imdb_data csv
so there's a column of data after the index that keeps the original row numbers from imdb_data

In [10]:
regions=[]

for region in imdb_data['region'].values:
    if region in regions or type(region) == float:
        pass
    else:
        regions.append(region)

In [12]:
# Write function to pull and separate movies by region
def get_region(data, region):
    print(region)
    imdb_data = data[data['region'] == f"{region}"]
    
    return imdb_data

In [15]:
JP_imdb_data = get_region(imdb_data, "JP")
JP_imdb_data.head()

JP

       tconst  ordering                 title region language        types attributes isOriginalTitle titleType                                 primaryTitle                                originalTitle  isAdult startYear endYear runtimeMinutes                    genres  averageRating  numVotes
7   tt0000001       8.0               カルメンチータ     JP       ja  imdbDisplay         \N               0     short                                   Carmencita                                   Carmencita      0.0      1894      \N              1         Documentary,Short            5.6    1650.0
15  tt0000002       8.0                 道化師と犬     JP       ja  imdbDisplay         \N               0     short                       Le clown et ses chiens                       Le clown et ses chiens      0.0      1892      \N              5           Animation,Short            6.1     199.0
18  tt0000003       3.0                哀れなピエロ     JP       ja  imdbDisplay         \N               0     short                               Pauvre Pierrot                               Pauvre Pierrot      0.0      1892      \N              4  Animation,Comedy,Romance            6.5    1359.0
30  tt0000004       6.0                一杯のビール     JP       ja  imdbDisplay         \N               0     short                                  Un bon bock                                  Un bon bock      0.0      1892      \N             12           Animation,Short            6.2     121.0
53  tt0000007       4.0  キネトグラフの前のコーベットとコートニー     JP       ja  imdbDisplay         \N               0     short  Corbett and Courtney Before the Kinetograph  Corbett and Courtney Before the Kinetograph      0.0      1894      \N              1               Short,Sport            5.5     658.0

In [16]:
# Before continuing, let's look at all the movies that have nan or \n for region value
nan_region_data = imdb_data[imdb_data['region'].isna()]

In [21]:
len(nan_region_data['region'])

2158685

In [24]:
nan_region_data[nan_region_data.index == 1366749]

            tconst  ordering          title region language types attributes isOriginalTitle titleType   primaryTitle  originalTitle  isAdult startYear endYear runtimeMinutes genres  averageRating  numVotes
1366749  tt0326513       1.0  Bitter Melons    NaN       \N    \N         \N               0     short  Bitter Melons  Bitter Melons      0.0      1971      \N             30  Short            8.2      11.0

In [ ]:
# Now let's loop through all the regions